# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Database
instance/
*.db

# Keys
keys/private.pem

# Offline Packages
offline_wheels/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
